Repository dayhaysoos/use-shopping-cart, pull requests merged in 2021-03, with the labels that each got.

#183 Touching up the Redux branch
  examples/cra/src/components/cart-display.js
  examples/cra/src/store.js
  use-shopping-cart/.eslintrc
  use-shopping-cart/core/Entry.js
  use-shopping-cart/core/slice.js
  use-shopping-cart/core/store.js
  use-shopping-cart/jest.config.js
  use-shopping-cart/package.json
  use-shopping-cart/react/index.js
  use-shopping-cart/utilities/old-utils.test.js
Labels: example

#186 switch "mode" to cartMode
  examples/cra/src/index.js
  use-shopping-cart/core/slice.js
  use-shopping-cart/core/stripe-middleware.js
Labels: example

#187 Fixed features in slice/entries
  .github/labels.yml
  documentation/src/components/set-item-quantity.js
  examples/cra/functions/create-session.js
  examples/cra/package.json
  examples/cra/src/App.js
  examples/cra/src/components/cart-display.js
  examples/gatsby/src/components/Products/SkuCard.js
  netlify.toml
  package.json
  use-shopping-cart/.eslintrc
  use-shopping-cart/core/Entry.js
  use-shopping-cart/core/slice.js
  use-shopping-cart/core/slice.test.js
  use-shopping-cart/core/store.js
  use-shopping-cart/package.json
  use-shopping-cart/react/index.js
  use-shopping-cart/react/index.test.js
  use-shopping-cart/utilities/old-utils.js
  use-shopping-cart/utilities/serverless.js
  yarn.lock
Labels: documentation, example, package, tests

#185 Import uuid browser build directly to be independent of Node crypto package
  use-shopping-cart/core/Entry.js
  use-shopping-cart/core/slice.js
  use-shopping-cart/rollup.config.js
Labels: bug, package

#188 Trying to fix test and rollup config
  use-shopping-cart/core/Entry.js
  use-shopping-cart/core/slice.js
  use-shopping-cart/package.json
  use-shopping-cart/rollup.config.js
  yarn.lock
Labels: package

#189 Fix redux-persist error message
  use-shopping-cart/.eslintrc
  use-shopping-cart/core/store.js
  use-shopping-cart/package.json
Labels: package
