Repository dayhaysoos/use-shopping-cart, pull requests merged in 2021-02, with the labels that each got.

#168 (docs): add basic docs for cart display management
  documentation/src/docs/usage/api.mdx
Labels: documentation

#170 Revamping the README
  .all-contributorsrc
  LICENSE
  README.md
  assets/front-end.png
  assets/products.png
  assets/serverless.png
  use-shopping-cart/CONTRIBUTING-SERVICES.md
  use-shopping-cart/CONTRIBUTING.md
  use-shopping-cart/README.md
Labels: documentation

#173 DebugCart, a way to quickly see the values provided by this hook
  documentation/src/components/debug-cart-example.js
  documentation/src/config/sidebar.yml
  documentation/src/docs/usage/debugcart.mdx
  use-shopping-cart/package.json
  use-shopping-cart/src/index.d.ts
  use-shopping-cart/src/index.js
  use-shopping-cart/src/index.test.js
  yarn.lock
Labels: documentation, package

#178 Add React With Redux Implementation
  use-shopping-cart/.eslintrc
  use-shopping-cart/core/Entry.js
  use-shopping-cart/core/actions.test.js
  use-shopping-cart/core/slice.js
  use-shopping-cart/core/slice.test.js
  use-shopping-cart/core/slices/cartSlice.js
  use-shopping-cart/core/store.js
  use-shopping-cart/package.json
  use-shopping-cart/react/index.d.ts
  use-shopping-cart/react/index.js
  use-shopping-cart/react/index.test.js
  use-shopping-cart/rollup.config.js
  use-shopping-cart/src/.eslintrc
  use-shopping-cart/src/index.js
  use-shopping-cart/src/reducers.js
  use-shopping-cart/utilities/SSR.js
  use-shopping-cart/utilities/old-utils.js
  use-shopping-cart/utilities/old-utils.test.js
  use-shopping-cart/utilities/serverless.d.ts
  use-shopping-cart/utilities/serverless.js
  use-shopping-cart/utilities/serverless.test.js
  yarn.lock
Labels: package
